{
    "include": [
        "lib/**/*.js"
    ],
    "reporter": [
        "text-summary",
        "html"
    ],
    "check-coverage": true,
    "lines": 98,
    "statements": 98,
    "functions": 99,
    "branches": 92,
    "report-dir": "./coverage",
    "all": true
}