{
    "include": [
        "lib/**/*.js"
    ],
    "reporter": [
        "text-summary",
        "lcov",
        "html"
    ],
    "check-coverage": true,
    "report-dir": "./coverage",
    "exclude-after-remap": false,
    "all": true
}