<div class="jumbotron">
	<h1 class="text-center">Hello, world!</h1>
	<p>This is a sample app demonstrating the basic functionality of the Box Node.js SDK.  The main functionality is implemented in the <code>index.js</code> file.</p>
</div>

<div class="row">
	<div class="col-md-6">
		<a href="/login" class="btn btn-block btn-primary">Log In</a>
	</div>
	<div class="col-md-6">
		<a href="/signup" class="btn btn-block btn-primary">Sign Up</a>
	</div>
</div>
