# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo

# generated
src/utils/importTests.ts

# cypress
cypress/screenshots
cypress/videos
cypress/downloads
